html, body {
  margin: 0;
  padding: 0;
  background-color: rgb( 236, 227, 252)
}
h1 {
    padding: 50;
    margin: 50;
    color: black;
}
canvas {
  display: block;
  
}

table, th, td {
  border:1px solid black;
  padding: 5px;
  margin: 50px;
}

h1,h2,h3{
  margin: 15px;
}

#p1 {
  padding: 5px;
  margin: 15px;
  height: 200px;
  text-align: left;
  font-size: large;
  color:black;
}
