html, body {
  margin: 0;
  padding: 0;
  background-color: rgb( 236, 227, 252)
}
h1 {
    padding: 50;
    margin: 50;
}
canvas {
  display: block;
  
}


#p1 {
  padding: 6px;
  height: 200px;
  text-align: left;
  font-size: large;
  color:rgb(26, 135, 149);
  

}
